<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/estilos.css' />
    <script src="javascripts/jquery-2.1.4.js"></script>
     <script src="javascripts/button.js"></script>
  </head>
  <body>
    <%-body %>
    <footer>
        Desarrollo de aplicaciones web
    </footer>
  </body>
</html>
